@import './base.css';
@import 'chota';

:root {
  --color-primary: #0ac18f;
  --toggle-height: 1.7rem;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}
header{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
nav div{
  padding: 1rem 1.8rem;
  cursor: pointer;
  border-bottom: 2px solid var(--color-lightGrey);
}
b {
  font-weight: 700;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.primaryButton {
  background-color: var(--color-primary); 
  color: white;
}
.icon {
  vertical-align: text-bottom;
}
.copyIcon{
  vertical-align: text-bottom;
  margin-bottom: 1px;
  margin-left: 5px;
}
.copyIcon:hover{
  cursor: pointer;
}
.depositAddr, .tokenId {
  overflow-wrap: anywhere;
  color: var(--color-grey);
}
.sendAmountGroup {
  display: flex;
  margin-top: 8px;
}
.input-icon {
  position: absolute;
  display: block;
  transform: translateY(-50%);
  top: 50%;
  pointer-events: none;
  width: 55px;
  text-align: center;
  font-style: normal;
  right: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.item {
  margin: 10px;
}
.tokenInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.tokenBaseInfo {
  width: 100%;
  display: flex;
  align-items: center;
}
.tokenIcon {
  margin-right: 10px;
}
.tokenBaseInfo1 {
  width: 370px;
  display: block;
}
.tokenAmount {
  margin-left: 30px;
  max-width: 225px;
}
.addressInput {
  margin-right: 14px;
  width: 50%;
}
.actionBar {
  margin-top: 15px;
  margin-bottom: 5px;
}
.inputGroup {
  margin: 0 0 10px;
  display: flex;
}
.actionBar span {
  margin: 0 20px;
  cursor: pointer;
}
.actionBar :first-of-type {
  margin-left: 0;
}

.showChildNfts {
  cursor: pointer;
  margin-left: 35px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    margin-top: 15px;
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
  }
}
